/*universal style*/

/*main section div {
    border: 1px dotted yellow;
}*/

body {
    font-family: "Helvetica" sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2,h4{
    margin: 0;
    padding: 10px;
}

/*style for header section*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: black;
    padding: 10px 10px 0 10px;
    top: 0;
    left: 0;
}

.logo img {
    height: 50px;
}

nav a {
    display: inline-block;
    padding-right: 20px;
    color: seashell;
}

/*universal style for main content container */

main {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    align-content: space-between;*/
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*style for mission section*/

#mission {
    background-image: url("../images/img-mission-background.jpg");
    width: 1200px;
    height: 700px;
}

section > .banner {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    background-color: black;
}

/*style for products section*/

#products {
    width: 1000px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#products img{
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
}

.t-of-m {
    padding-bottom: 10px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-row1 {
    display: flex;
    justify-content: space-between;
}

.img-row2 {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-row2 > .img {
    padding: 20px;
}


/*style for stores section*/

#stores {
    width: 1200px;
    height: 500px;
    background-image: url(../images/img-locations-background.jpg);
    padding-top: 70px;
}



.three-boxes {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.box {
    width: 300px;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: auto 20px;
    padding: 0 10px;
}

.box span{
    height: 65px;
}

/*style for footer section*/

.copyright {
    align-self: flex-start;
    padding-left: 20px;
}

.contact {
    height: 200px;
}















































